/* Classes utilitárias */
.count {    
    color: #ccc;
    font-size: 13px;
}


/* Área principal */
.task-manager-stage {
    background: #f5f5f5;    
}

/* Título (Tarefas) */
.task-header {
    border-bottom: 1px solid #fff;    
}

.task-header .task-list-title {
    font-size: 15px;
    margin: 0;
    padding: 10px 0px 10px 10px;
    display: inline-block;
    width: 200px;    
}

.task-header .task-filter{
    display: inline-block;
} 

.task-header .task-filter fieldset{
    display: inline;
}

.task-header .task-filter fieldset input{
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px solid #eee;
}

/* Área das listas de tarefas */
.task-list.col-md-2 {
    border-right: 1px solid white;
    padding: 0;
}

.task-list h2{    
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: gray
}

.task-list-priority {    
    margin-bottom: 100px;
}

.task-list-normal {
    border-top: 1px solid white;
}

/* Legenda */
.legend {
    display: none;
}

.legend ul {    
    padding: 0;    
    list-style: none;
}

.legend li {
    margin:  0;
    padding: 4px;
}

/* Tarefas */
.task {
    background: #fff;
    font-size: 13px;
    cursor: move;    
    display: flex;   
    margin: 2px 1px;    
    min-height: 25px;
    padding: 4px;    
    /*border: 1px solid;  border-color: #fff #eee #eee #fff;*/
}

.task .icon {  
    margin-left: 1px;  
    margin-top: 6px;
}

.task .taskbar {
    width: 16px;
    height: 16px;
    background: url('../images/barras.png') no-repeat;  
}

.task .description{
    display: inline-block;
    width: 166px;
    font-size: 11px;        
    padding-left: 1px;
    text-transform: uppercase;
}

.task .glyphicon {
    padding-left: 5px;
    color: lightgrey;
}                                                               


/*Área de atribuição das tarefas */
.dropzone {  
    background-color: #f2f2f2;   
    min-height: 400px;
}

.dropzone .task {
    border-top: 1px solid #f5f5f5;
}
.dropzone .task:first-child {
    border-top: none;
    margin-top: 0;
}


.task-box {
    background: #fff;
    margin: 8px 2px;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 220px; 
}

.task-box-header {
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
    font-size: 12px;
}

.task-box-body {
    min-height: 80px; 
    padding: 5px;
}

.glyphicon.glyphicon-ok {
    color: cornflowerblue;
}


/* Drag and Drop*/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
[dnd-list],
[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #eee;
    min-height: 42px;
}


/**
 * Show selected elements in green
 */
[dnd-list] .selected {
    background-color: #dff0d8;
    color: #3c763d;
}