html, body{
  margin: 0;
  background: #f5f5f5;
  background: blue;
  height: 100vh;
}

main {
  background: silver;
  min-height: 88vh;
  display: flex !important;
  flex-flow: row wrap;
}

nav{
  background: #eee;
  width: 250px;
}

section,
.main-taskzone{
  background: #f5f5f5;
  flex: 3 1 60%;
}

aside.completed-area {
    width: 12%;
    background: white;
}

footer{
  background: #999;
  color:white;
}

/*Tamanho de fontes*/
.huge {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .huge{
    font-size: 20px;
  }

}
